

body {
    background: black;
    color: beige;
    font-family: sans-serif;
}

header {
    max-width: 900px;
    margin: auto;
}

h1 {
    color: aquamarine;
    text-align: center;
}

header h1 {
    font-size: 50px;
    margin: 20px 0px 0px 0px;
}

main {
    max-width: 900px;
    margin: auto;
}

p {
    text-align: center;
}

p a {
    color: thistle;
} 

p a:hover{
    color: palevioletred;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}

.topnav {
    overflow: hidden;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.topnav a {
    text-align: center;
    color: thistle;
    font-size: 20px;
    margin: 0 10px 0 10px;
}

.topnav a:hover {
    color:  palevioletred;
}